.background-box {
    background-color: #d3e0ed;

}

.sidebar-box {
    background-color: #d3e0ed;
    min-height: 400px;
    min-width: 150px;
    text-align: center;
    padding: 3px;
}

.table-box {
    min-width: 200px;
    height: 300px;
    overflow:scroll;
    background-color: #d3e0ed;
    text-align: center;
    padding: 3px;
}

.centered-box {
    min-width: 200px;
    height: 400px;
    background-color: #d3e0ed;
    text-align: center;
    padding: 3px;
}

.tab-box {
    min-width: 200px;
    overflow:scroll;
    background-color: #d3e0ed;
    text-align: center;
    padding: 3px;
}

.terminal-box {
    background-color: #d3e0ed;
    height: 250px;
    padding: 3px;
    line-height: normal;
    text-align: center;
}

.title-box {
    background-color: #d3e0ed;
    height: 70px;
    text-align: center;
    padding: 3px;
}
